:root {
    --primary-bg: #222;
    --secondary-bg: #333;
    --text-color: white;
    --font-family: Arial, sans-serif;
    --header-font-size: 2.5em;
    --footer-font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg);
    font-family: var(--font-family);
    color: var(--text-color);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

header {
    grid-area: header;
    background: var(--secondary-bg);
    padding: 10px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

footer {
    grid-area: footer;
    background: var(--secondary-bg);
    text-align: center;
    padding: 10px;
    font-size: var(--footer-font-size);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px; 
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.social-icons img {
    width: 70%;
    height: 70%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-right: 90px;
}

.text-container {
    max-width: 600px;
    margin-bottom: 150px;
}

h1 {
    font-size: var(--header-font-size);
    margin-bottom: 50px;
    margin-left: 250px;
}

.text-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-left: 100px;
}

@media screen and (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 5px;
        padding: 20px;
    }

    .image-container img {
        width: 90%; 
        margin-bottom: 20px; 
        margin-left: 70px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-left: 0;
    }

    .text-container p {
        font-size: 16px;
        text-align: justify;
        margin-left: 0;
    }

    .image-container {
        order: 3;
    }

    h1 {
        order: 1;
    }

    .text-container {
        order: 2;
    }
}



